.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section-portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 95px;
    padding-top: 95px;
    margin-bottom: 50px;
  }
}

.portfolio-border {
  border-bottom: 1px solid $portfolio-border;
}
