.container {
  width: 100%;
  padding: 0 15px;
  outline: 1px solid red;

  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  & .basement-logo {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 20px;
    color: $white-color;
  }

  @media screen and (max-width: 1199px) {
    & .basement-logo {
      // align-items: baseline;
      display: flex;
      justify-content: center;
    }
  }
}
